# Virtual environments
ML_venv311/
ML_venv/
.venv/

# Image files
Assignments/Lab2/Images/
Assignments/Lab2/Citations.md


# Datasets
Assignments/Lab1/ml-latest/
*.csv
*.zip

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db